
*.jar

*.TXT

nbproject/private/config.properties

nbproject/private/private.properties

nbproject/private/private.xml

build/classes/plugin.yml

build/classes/config.yml

build/classes/com/i2/mobdamage/MobDamageListener.class

build/classes/com/i2/mobdamage/MobDamage.class

build/built-jar.properties
